* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(120, 120, 120, 0.5) transparent;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(120, 120, 120, 0.45);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(120, 120, 120, 0.7);
}

body {
  background-color: #333;
  color: #fff;
}

#mainDivContainer {
  display: flex;
  margin: 5vh auto;
  width: 95%;
  align-items: center;
  flex-direction: column;
}

canvas#game {
  border: 1px solid rgb(0, 0, 0, 0.5);
  background: #888;
  width: 55%;
  height: 55%;
}

#game-container {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 5vh auto;
  justify-content: space-around;
  align-items: center;
}
/* #yourscore {
    text-align: center;
    color: #f1f1ff
} */

#foot {
  text-align: center;
  color: #f1f1ff;
  margin-top: 20px;
  background-color: black;
  color: white;
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}

#timeScore {
  display: flex;
  text-align: center;
  color: #f1f1ff;
  justify-content: center;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}

#scorecard {
  background: #222222;
  opacity: 1;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 40%;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
}

#totalScores {
  background: #222222;
  opacity: 1;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 40%;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
}

#scorecard #scorecardScore {
  margin: 10vh auto;
  font-size: 25px;
  color: #f1f1ff;
  font-weight: bold;
}
/* 
#scorecard #playagain{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 255, 45);
    border: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px;
} */

#scorecard #playagain svg {
  height: 20px;
  width: 20px;
}

#scorecardbg {
  position: fixed;
  background-color: rgba(46, 58, 38, 0.7);
  width: 100%;
  height: 100%;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  padding: 30px;
}

#totalScoresbg {
  position: fixed;
  background-color: rgba(46, 58, 38, 0.7);
  width: 100%;
  height: 100%;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  padding: 30px;
}

.cancel {
  position: relative;
  width: 100%;
  margin-top: 3px;
}

.cancel svg {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

#game-levels {
  border: none;
  padding: 20px;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #222222;
  border-radius: 4px;
  color: #f1f1ff;
}
.game-levels-options {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game-levels-options label {
  font-size: 18px;
}

.game-levels-options select {
  width: 100%;
  padding: 10px 15px;
  background-color: #333;
  color: #f1f1ff;
  border: none;
  border-radius: 4px;
  font-size: 17px;
}

#playGame {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background: greenyellow;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  font-family: monospace;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

#playGame svg {
  color: #000;
}

#controls {
  position: fixed;
  width: fit-content;
  height: fit-content;
  bottom: 8vh;
  right: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#controls button#mobileControls {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  border-radius: 50%;
  background: #4ade80;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #292929;
}

#allScores {
  position: fixed;
  width: fit-content;
  height: fit-content;
  bottom: 8vh;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#allScores button#yourScores {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  border-radius: 50%;
  background: #3b82f6;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #292929;
}

#allScores button#youScores:hover {
  box-shadow: none;
}

#allScores button#yourScores svg {
  width: 25px;
  height: 25px;
  fill: #fff;
}

.table_component {
  overflow-y: auto;
  width: 100%;
  height: 200px;
  margin: 10vh auto;
}

.table_component table {
  border: 1px solid #dededf;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: center;
  font-size: 17px;
}

.table_component th {
  border: 1px solid #dededf;
  background-color: #222;
  color: #eee;
  padding: 10px;
}

.table_component td {
  border: 1px solid #474747;
  background-color: #222;
  color: #eee;
  padding: 10px;
  font-size: 15px;
}

#mobileContainerbg {
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 100;
  visibility: hidden;
}

#mobileContainer {
  gap: 5px;
  position: fixed;
  bottom: 0%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  transform: translate(-50%, -5%);
  width: 100%;
  height: 25%;
  padding: 20px;
}

.mobileButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.bottombtns {
  display: flex;
  gap: 10px;
}

#mobileContainer button {
  width: fit-content;
  height: fit-content;
  padding: 5px 20px;
  border: none;
  border-radius: 100px;
  background: #00ff5e;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #6cffa2;
}

.container {
  width: 75%;
  margin: 5vh auto;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}

.c-bottom {
  margin: 5vh auto 10vh auto;
}

@media (max-width: 1100px) {
  #game-levels {
    width: 35%;
  }

  canvas#game {
    width: 60%;
  }
}

@media (max-width: 850px) {
  #game-container {
    flex-direction: column;
    gap: 20px;
  }
  #game-levels {
    width: 75%;
  }

  canvas#game {
    width: 75%;
  }
  #timeScore {
    font-size: 14px;
  }
  #scorecard {
    width: 60%;
  }

  #totalScores {
    width: 60%;
  }
}

@media (max-width: 700px) {
  #game-levels {
    width: 95%;
  }

  canvas#game {
    width: 95%;
  }

  #timeScore {
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
  }
  #scorecard {
    width: 75%;
  }

  .container {
    width: 95%;
  }

  #totalScores {
    width: 75%;
  }
}

@media (max-width: 500px) {
  #game-levels {
    width: 97%;
  }

  canvas#game {
    width: 97%;
  }

  #scorecard {
    width: 95%;
  }

  #totalScores {
    width: 95%;
  }
}
