* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #333;
}

#mainDivContainer {
  display: flex;
  margin: 5vh auto;
  width: 95%;
  align-items: center;
  flex-direction: column;
}

canvas#game {
  border: 1px solid rgb(0, 0, 0, 0.5);
  background: #888;
  width: 55%;
  height: 55%;
}

#game-container {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 5vh auto;
  justify-content: space-around;
  align-items: center;
}
/* #yourscore {
    text-align: center;
    color: #f1f1ff
} */

#foot {
  text-align: center;
  color: #f1f1ff;
  margin-top: 20px;
  background-color: black;
  color: white;
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

#timeScore {
  display: flex;
  text-align: center;
  color: #f1f1ff;
  justify-content: center;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}

#scorecard {
  background: #222222;
  opacity: 1;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 40%;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
}

#scorecard p#scorecardScore {
  margin: 10vh auto;
  font-size: 25px;
  color: #f1f1ff;
  font-weight: bold;
}
/* 
#scorecard #playagain{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 255, 45);
    border: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px;
} */

#scorecard #playagain svg {
  height: 20px;
  width: 20px;
}

#scorecardbg {
  position: fixed;
  background-color: rgba(46, 58, 38, 0.7);
  width: 100%;
  height: 100%;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  padding: 30px;
}

#cancel {
  position: relative;
  width: 100%;
  margin-top: 3px;
}

#cancel svg {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

#game-levels {
  border: none;
  padding: 20px;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #222222;
  border-radius: 4px;
  color: #f1f1ff;
}
.game-levels-options {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game-levels-options label {
  font-size: 18px;
}

.game-levels-options select {
  width: 100%;
  padding: 10px 15px;
  background-color: #333;
  color: #f1f1ff;
  border: none;
  border-radius: 4px;
  font-size: 17px;
}

#playGame {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background: greenyellow;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  font-family: monospace;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

#playGame svg {
  color: #000;
}

#allScores {
  position: fixed;
  width: fit-content;
  height: fit-content;
  top: 8px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#allScores button#youScores {
  box-shadow: 2px 2px 3px 1px #3f3f3f;
  display: flex;
  align-items: center;
  gap: 8px;
  background: #000;
  color: #f1f1f1;
  padding: 10px 16px;
  border-radius: 23px;
  border: none;
  cursor: pointer;
}

#allScores button#youScores:hover {
  box-shadow: none;
}

#allScores button#youScores svg {
  width: 25px;
  height: 25px;
  fill: #fff;
}

@media (max-width: 1100px) {
  #game-levels {
    width: 35%;
  }

  canvas#game {
    width: 60%;
  }
}

@media (max-width: 850px) {
  #game-container {
    flex-direction: column;
    gap: 20px;
  }
  #game-levels {
    width: 75%;
  }

  canvas#game {
    width: 75%;
  }
  #timeScore {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  #game-levels {
    width: 95%;
  }

  canvas#game {
    width: 95%;
  }

  #timeScore {
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 500px) {
  #game-levels {
    width: 97%;
  }

  canvas#game {
    width: 97%;
  }
}
