* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #333;
}

canvas#game {
    border: 1px solid rgb(0, 0, 0, 0.5);
    background: #888;
    width: 100%;
    height: 100%;
}

#game-container {
    width: 750px;
    height: 350px;
    margin: 10vh auto;
    justify-content: center;
    align-items: center;
}
/* #yourscore {
    text-align: center;
    color: #f1f1ff
} */

#foot {
    text-align: center;
    color: #f1f1ff;
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

#timeScore {
    display: flex;
    text-align: center;
    color: #f1f1ff;
    justify-content: center;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
}

#scorecard {
    background: #222222;
    opacity: 1;
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
}

#scorecard p#scorecardScore{
    font-size: 25px;
    color: #f1f1ff;
    font-weight: bold;
}

#scorecard #playagain{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 255, 45);
    border: none;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

#scorecard #playagain svg{
    height: 20px;
    width: 20px;
}

#scorecardbg {
    position: fixed;
    background-color: rgba(46, 58, 38, 0.7);
    width: 100%;
    height: 100%;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
