body {
    width: 50%;
    justify-content: center;
    margin: auto;
}
body h1{
    text-align: center;
}

@media (max-width: 800px) {
    body {
        width: 70%;
    }
}

@media (max-width: 600px) {
    body {
        width: 90%;
    }
}

body a {
    color: rgb(170, 80, 255);
}